<div class="container p-4">
    <div class="row">

        {{#each usuarios_citas}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h3 class="m-2">
                                {{ nombre }}
                        </h3>
                        <p class="m-2">{{direccion}}</p>
                        <p class="m-2">{{telefono}}</p>
                        <p class="m-2">{{descripcion}}</p>
                        <a href="/pacientes/delete/{{id_p}}" class="btn btn-danger">Eliminar</a>
                        <a href="/pacientes/editar/{{id_p}}" class="btn btn-secondary">Editar</a>
                    </div> 
                </div>
            </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>Ningun paciente pendiente.</p>
                    <a href="/pacientes/add">Agrega alguno</a>
                </div>
            </div>
        
        {{/each}}

    </div>
</div>